.btn-card {
    font-size: x-small;
    border: none;
    border-radius: 4px;
    font-weight: 700;
}

.btn-about {
    border-radius: 3px;
    font-size: small;
    background: none;
    border-color: white;
    color: white;
}

.link-footer a {
    color: whitesmoke;
    text-decoration: none;
}

/*Efecto difuminado en la imagen*/
.card-img {
    filter: brightness(50%);
}

.target-1{
   text-align: center;
   border: solid 1px #0d6efd;
   padding: 20px 30px;
}

.target-2{
    text-align: center;
    border: solid 1px #198754;
    padding: 20px 30px;
 }
 
 .target-3{
    text-align: center;
    border: solid 1px #fd7e14;
    padding: 20px 30px;
 }

 small {
    color: grey;
 }